.active-link {
  color: #00ff00; /* Light green color for active link */
  animation: link-pulse 0.5s infinite alternate; /* Animation for active link */
}

@keyframes link-pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.nav-link:hover {
  color: lightgreen;
}


.site-name {
  font-weight: bold;
  text-align: center;
}

.fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-active {
  opacity: 1;
}

